@font-face {
    font-family: 'Rekalgera';
    src: url('Rekalgera-Regular.woff2') format('woff2'),
        url('Rekalgera-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

